doctype html
html
	head
		title #{title}
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="css/bootstrap.min.css", rel="stylesheet")

		//link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/custom.css")
		
		
		
		// Custom scripts
		script(src="script.js")
	body
		div.site-wrapper
			div.site-wrapper-inner
				div.cover-container
					div.masthead.clearfix
						div.inner
							h2.masthead-brand #{title}
							nav
								ul.nav.masthead-nav
									// TODO: Design the menu highlighting here
									//div#demo.collapse(class=typeof fromEdit === "undefined" ? "" : "in")
									
									li(class=page == "home" ? "active" : "")
										a(href="/")
											span.glyphicon.glyphicon-home(aria-hidden="true") &nbsp;Home
									li(class=page == "tasks" ? "active" : "")
										a(href="/tasks")
											span.glyphicon.glyphicon-list-alt(aria-hidden="true") &nbsp;Tasks
									
											
					div.inner.cover
						block content
						
					div.mastfoot
						div.inner
							p By &copy; 
								a(href="http://www.husainkhambaty.com") Husain Khambaty 
								| 2017


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")        
		script(src="js/bootstrap.min.js")
		